@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.App {
  text-align: center;
  font-family: 'Source Sans Pro';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.mainContent {
  background-color: #777777; 
  background: cover;
  background-size: 100% 100%;
  min-height: calc(100vh - 1rem - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a.externalLink {
  color: #61badb;  
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  opacity: 0.9;
}

.samples {
  background-color: #EEEEEE;
  border-radius: 0.5rem;
  margin: 16px auto;
  width: 80%
}

.sample {
  width: 10%;
  margin: 16px;
  /* border: 1px solid #CCC; */
}

.homeActions {
  text-align: center;
  margin: auto;
}

.featureList {
  text-align: left;
  margin: 0px;
}

.homeTitle {
  margin: 20px;
}
 
h5 {
  font=size: 32px;
}

.deepContent {
  font-size: 18px;
}


.deepContent p {
  margin: 0 16px;
}

.card {
  background-color: #777777;
  margin: 16px;
}

.tokenCard {
  background-color: #777777;
}

.card-header {
  text-align: left;
  color: #AAAAAA;
}

.card-body {
  font-size: 18px;
} 

.btn {
  margin: 8px;
}

#mint {
  background: #d3d3d3EE !important;
}

.mintRow {
  margin: 16px 0;
  display: flex;
  clear: both;
}

.mintInputs {
  float: right;
}

.mintInput {
  font-size: 18px;

  margin: 25px 20px;
  width: 300px;
}

.card-title {
  font-size: 32px;
  font-weight: bold;
  margin: 8px;

}

div#accountDetails {
  text-align: left;
}

.dynaStripesArtwork {
  width: 250px; 
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #DDD; */
  background:#EEE;
}

.dynaStripesArtwork div.spinner {
  color: green;

}

.token {
  margin: 16px;
  opacity: 1;
}

p.success {
  font-size: 18px;
  width: 400px;
}

div.mintInput input {
  margin: 8px;
}

#mintSpinner {
  height: 16px;
  width: 16px;
}

.mintEther {
  margin-top: -4px;
  height: 16px;
  width: 16px;
}

.navDropdownIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.dyna {
  font-family: 'Rajdhani';
}

.volstrate {
  font-family: 'Rajdhani';
  font-weight: bold;
}
/* 
.row {
  display: flex;
  flex-wrap:wrap;
  } */

.tokenList {
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
}

.tokenCard {
  /* width: 40vw; */
}

.deepContent {
  text-align: left;
  margin: 0px 16px;
}

h4.dyna {
  margin-top: 16px;
}

.deepContent p {
  margin: 8px 8px;
}

.content {
  background-color: #d3d3d3EE;
  /* background-color:#AAAAAADD; */
  box-shadow: 0 0 10px 5px rgb(100 100 100 / 0.2 );

  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  margin: 50px;
  padding: 16px;
  max-width: min(1200px, 70vw);
}

.previewContainer {
  /* background-color: #FFFFFF;
  padding: 10px;
  margin: 0 auto; */
  opacity: 1;

}

.previewArtwork {
  opacity: 1;
  margin: 16px;
  background-color:#FFF;
  width: 400px; 
  height: 400px;
  border: 10px solid #EEE; 
}

.preview {
  float: left;
}